body {
  background: url(../img/main-background.png) 0 30px no-repeat;
  margin: 0;
}
body header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}
body header .header__nav .header__nav__wrapper {
  display: flex;
  list-style-type: none;
}
body header .header__nav .header__nav__wrapper .header__nav__items {
  padding-left: 76px;
}
body header .header__nav .header__nav__wrapper .header__nav__items .header__nav__link {
  color: #000;
  font: 14px "Roboto", sans-serif;
  text-decoration: none;
}
body #first-section {
  height: 750px;
  position: relative;
}
body #first-section .first-section__description {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
body #first-section .first-section__description .first-section__description__title {
  font: 80px "Rubik Mono One", sans-serif;
  width: 670px;
  z-index: 1;
}
body #first-section .first-section__description .first-section__description__subtitle {
  font: bold 20px "Roboto", sans-serif;
  width: 340px;
}
body #first-section .first-section__media {
  position: absolute;
  right: 0;
  top: 0;
  width: 56%;
}
body #first-section .first-section__media .first-section__media__button-play {
  background: url(../img/play.png) right center no-repeat;
  height: 84px;
  position: absolute;
  left: -42px;
  top: 45px;
  width: 77px;
  z-index: 1;
}
body #first-section .first-section__media .first-section__media__button-play .first-section__media__button-play-text {
  position: relative;
  left: -55px;
  top: 12px;
  transform: rotate(270deg);
}
body #first-section .first-section__media .first-section__media__video {
  width: 100%;
}
body #benefits-section {
  display: flex;
}
body #benefits-section .benefits-section__media {
  position: relative;
}
body #benefits-section .benefits-section__media .benefits-section__media__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -31px;
  margin-top: -40px;
}
body #benefits-section .benefits-section__design {
  padding-left: 25px;
}
body #benefits-section .benefits-section__design .benefits-section__design__header {
  color: #3a2ff8;
  font-family: "Roboto Bold", sans-serif;
}
body #benefits-section .benefits-section__design .benefits-section__design__title {
  font: 29px "Rubik Mono One", sans-serif;
}
body #benefits-section .benefits-section__design .benefits-section__design__list {
  list-style-type: none;
  font: 11px "Roboto Light", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
body #benefits-section .benefits-section__design .benefits-section__design__list .benefits-section__design__list__item {
  background: url(../img/dash.png) 0 5px no-repeat;
  padding-left: 40px;
  margin-bottom: 35px;
}
body #benefits-section .benefits-section__color {
  padding-top: 200px;
  padding-left: 25px;
  padding-right: 20px;
}
body #benefits-section .benefits-section__color .benefits-section__color__title {
  font: 29px "Rubik Mono One", sans-serif;
  text-align: right;
}
body #benefits-section .benefits-section__color .benefits-section__color__description {
  text-align: end;
}
body #benefits-section .benefits-section__color .benefits-section__color__list {
  display: flex;
  justify-content: flex-end;
}
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__color__list__item_yellow,
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__color__list__item_blue,
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__colorn__list__item_red,
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__colorn__list__item_grey,
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__colorn__list__item_black {
  font-size: 38px;
  cursor: pointer;
  margin: 20px;
  width: 0px;
}
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__color__list__item_yellow {
  color: yellow;
}
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__color__list__item_blue {
  color: blue;
}
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__colorn__list__item_red {
  color: red;
}
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__colorn__list__item_grey {
  color: grey;
}
body #benefits-section .benefits-section__color .benefits-section__color__list .benefits-section__colorn__list__item_black {
  color: black;
}
body #modes-section {
  background: url(./img/main-background.png) no-repeat;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 40px;
}
body #modes-section .modes-section__description {
  padding-left: 40px;
}
body #modes-section .modes-section__description .modes-section__description__title {
  font: 29px "Rubik Mono One", sans-serif;
}
body #modes-section .modes-section__description .modes-section__description__list {
  list-style-type: none;
  font: 11px "Roboto Light", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
body #modes-section .modes-section__description .modes-section__description__list .modes-section__description__list__item {
  background: url(../img/dash.png) 0 5px no-repeat;
  padding-left: 40px;
  margin-bottom: 35px;
}
body #modes-section .modes-section__description .modes-section__description__speed {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 12px;
  color: #878787;
}
body #modes-section .modes-section__description .modes-section__description__speed .modes-section__description__speed__items {
  padding-right: 40px;
  width: unset;
}
body #modes-section .modes-section__description .modes-section__description__speed .modes-section__description__speed__items span {
  color: blue;
  text-align: center;
  font-size: 40px;
}
body #modes-section .modes-section__media__video {
  width: 100%;
}
body #for-whom-section {
  padding-top: 40px;
}
body #for-whom-section .for-whom-section__description {
  display: flex;
  flex-direction: row;
}
body #for-whom-section .for-whom-section__description .for-whom-section__description-text {
  padding-right: 20px;
  padding-left: 20px;
}
body #for-whom-section .for-whom-section__description .for-whom-section__description-text .for-whom-section__title {
  font: 29px "Rubik Mono One", sans-serif;
  text-align: center;
}
body #for-whom-section .for-whom-section__description .for-whom-section__description-text .for-whom-section__text {
  text-align: center;
  line-height: 1.5;
}
body #for-whom-section .for-whom-section__description .for-whom-section__description-text .for-whom-section__text span {
  font-weight: bold;
}
body #for-whom-section .for-whom-section__description .for-whom-section__media {
  width: 65%;
}
body #footer {
  background-color: #DCDCDC;
  color: black;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 9px;
}

/*# sourceMappingURL=main.css.map */
